body {
		background: linear-gradient(to left top, gray, darkgray) fixed;
}

#canvas1 {
		border: 1px solid black;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
}
